@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.new-nav{
    display: flex;
    flex-direction: column;

}
.addnew-nav{
    border: 1px solid;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 500px;
    /* background-color: #6AB4F8; */
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
.font{
   font-family: 'Source Sans Pro', sans-serif; 
}