@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
}

.progressbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.bar-head {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.bar {
    width: 85%;
    height: 70px;
    background: #ffffff;
    box-shadow: 0px 14px 70px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-bar {
    height: 70px;
    width: 20%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AAAAAA;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.active {
    background-color: #6AB4F8;
    color: white;
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.25);
}

.container .body {
    width: 85%;
    border: none;
    height: 62vh;
    box-shadow: 10px 14px 70px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 40px 30px;
    position: relative;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.inp {
    border: 1px solid #C3C3C3;
    border-radius: 8px;
    height: 60px;
    width: 100%;
    padding-left: 22px;
    font-size: 18px;
    color: #7D7D7D;
    transition: border-color 0.3s ease-in-out;
}

.inp:focus {
    outline: none;
    border-color: #6AB4F8;
}

label {
    font-weight: 600;
    font-size: 20px;
    color: #7D7D7D;
    margin-bottom: 10px;
}

.btn {
    box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.15);
    border-radius: 500px;
    width: 187px;
    height: 60px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.footer {
    position: absolute;
    bottom: 5%;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.canc {
    background: #6AB4F8;
    color: white;
}

.nex {
    background: #4C57B6;
    color: white;
}

.cam {
    height: 105px;
    width: 105px;
    border-radius: 50px;
    background: #6AB4F8;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.13);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cam-logo,
.cam-logo-1 {
    position: absolute;
}

.cam-logo {
    left: 33%;
    top: 33%;
}

.cam-logo-1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.font {
    font-size: 18px;
    color: #7D7D7D;
}

.bar-head {
    display: flex;
    margin-right: 63%;
}

.err-1 {
    color: red;
    text-align: center;
    font-size: 1.2rem;
}