@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
}
img{
    opacity: 0.5;
}
.property{
    margin-left:28%; 
    padding: 0px 10px;
}
.table{
    width: 100%;
    text-align: center;
}
.table td,th{
    box-sizing: content-box;
}
