*{    
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#Container{
    margin-left: 25%;
    height: 100vh;
    width:100vh;
    margin: 2px solid black;
    background-color: #F5F5F5;;
    display: flex;
    flex-direction: column;
   text-align: center;
    align-items: center;
}
#childcontainer{
    height: 60vh;
    width:60vh;
    background-color:#FFFFFF;
}
#Logo{
    color: #4C57B6;
    padding-top: 10vh;
}
#create{
    padding-top: 1vh;
}
input,button ,#signeup{  
    margin-top: 5%;
}
input,button {
    width:70%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-left: 15%;
}
button{
    border-radius: 5px;
    background-color: #4C57B6;
    color: rgba(255, 255, 255, 1);
}
#formcontent{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#signeup{
    color: rgba(76, 87, 182, 1);
}
#dont{ 
    color:  rgba(76, 87, 182, 1);
    padding-top: 10%;
}