@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
}
img{
    opacity: 0.5;
}
.main-sidebar{
     
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 25%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color:#b9e9e3;
        /* overflow-x: hidden;  Disable horizontal scroll */
        padding-top: 20px;
      }

.Logo{
    color: black;
    text-align: center;
    font-weight: 800;
    font-family: 'Source Sans Pro';
}
.line{
    padding-left: 32%;
    padding-top: 13%;

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #AAAAAA;
}
.line div{
    padding: 5px;
    font-weight: 600;
    font-size: larger;
}
.line img{
    border: #838181;
}

