@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;700&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.main-sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #b9e9e3;
    text-align: center;
}

.logo-side {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icon {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 51.5px;
}

#prop-icon {
    color: #2289FF;
}

.side-flex {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin-left: 12%;
    color: #AAAAAA;
}

#side-img {
    height: 17px;
    margin-left: 5px;
}

.side-flex-img {
    display: flex;
    gap: 27px;
    align-items: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin-left: 12%;
    color: #AAAAAA;
}